{% extends "base.html" %}

{% block content %}

<article class="main-content">
    <div class="wrapper clearfix">
        <section class="page-content clearfix">
            <header class="section-header">
                <h3 class="section-title">About Me</h3>
                <span class="section-subtitle">my resume 
                    <a href="https://drive.google.com/open?id=0B2eCMbJ8NpDgb1poV0NtSHppM28" target="_blank" title="View resume">→</a> 
                </a>
                </span>
            </header>
            <p>
                Hello!
                <br>
                I'm currently a master student of Computer Science in Northwestern University.<br/>
                I have a wide range of skills that include: 
                <ul>
                    <li>front-end development (HTML5, JavaScript, mainly using jQuery and Backbone.js)</li>
                    <li>back-end development (Python, mainly using Flask)</li>
                    <li>mobile application development (iOS)</li>
                </ul>
                
                I am also:
                <ul>
                    <li>a food lover,</li>
                    <li>an amatuer photographer.</li>
                </ul>
                I enjoy finding tasty food, restaurants and taking photos of delicious food! </br>
                Check out my posts on <a href="http://instagram.com/142cz/">Instagram</a>! :D<br>
            </p>
        </section>

        <section class="page-content clearfix">
            <header class="section-header">
                <h3 class="section-title">My expertise</h3>
                <span class="section-subtitle">Stuff that i can help with</a></span>
            </header>
            <div class="one-half first">
                <h4>Web Developement</h4>
                <p>I build my personal website 
                    (<a href="https://github.com/chenzhe142/Personal_website" target="_blank">GitHub</a>), 
                    a sample blog 
                    (<a href="https://github.com/chenzhe142/blog" target="_blank">GitHub</a>) 
                    and Foodipedia 
                    (<a href="https://github.com/chenzhe142/Foodiepedia_website" target="_blank">GitHub</a>)
                    based on Google App Engine, written in Python, HTML5 and CSS and jQuery, writing front-end and back-end scripts. I am capable of developing a web application in both front-end and back-end.
                    <br>
                    <a href="/projects">Project Detail</a>

                </p>
            </div>

            <div class="one-half last">
                <h4>Mobile Application Development</h4>
                <p>I try to build a mobile application that is accessable on different platforms and devices.<br>
                By using jQuery and PhoneGap, I have built responsive websites and Android applications, written in HTML5, which is simple and productive.<br>
                <a href="/projects">Project Detail</a>
                <br>
            </div>
        </section>
    </div>

</article>


{% endblock %}