<!DOCTYPE html>

<html>
	<head>
		<title>Zhe Chen</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<section class="main-header regular">
			<div class="vertical-container">
				<div class="wrapper clearfix">
					<header>
						<a href="/" title="Jump to main page">
							<h1 id="main-title">Zhe Chen</h1>
						</a>
						<h2 id="main-subtitle">MS in Computer Science</h2>
						<h2 id="main-subtitle">Northwestern University</h2>
				
					</header>
					<nav id="main-nav" role="navigation">
						<a href="/about" class="">About Me</a>
						<a href="/projects" class="">Projects</a>
						<a href="/portfolio">Portfolio</a>
						<a href="/contact">Contact</a>
					</nav>
				</div>
			</div>
		</section>
		{% block content %}
		{% endblock %}
	</body>

	<footer class="main-footer">
	    <div class="vertical-container">
	        <div class="wrapper">
	            <p class="copy">&copy; ZHE CHEN 2015 | Update on September 7th, 2015.</p>
	            <ul class="social">
	            	<li>
	            		<a href="http://instagram.com/142cz/"><img src="/static/images/instagram.png" target="_blank" style="width:32px;height:32px"/></a>
	            	</li>

	            	<li>
	            		<a href="https://github.com/chenzhe142"><img src="/static/images/github.png" target="_blank" style="width:32px;height:32px"/></a>
	            	</li>

	            	<li>
	            		<a href="mailto:zhechen2014@u.northwestern.edu"><img src="/static/images/email.png" target="_blank" style="width:32px;height:32px"/></a>
	            	</li>
	            </ul>
	        </div>
    	</div>
	</footer>
</html>