{% extends "base.html" %}

{% block content %}

<article class="main-content">

	<div class="wrapper clearfix">
		<section class="page-content clearfix">

			<header class="section-header">
				<h3 class="section-title">Email</h3>
				<span class="section-subtitle"> 
					<a href="mailto:zhechen2014@u.northwestern.edu">zhechen2014@u.northwestern.edu</a> 
				</a>
				</span>

			</header>

		</section>

		<section class="page-content clearfix">
			
			<header class="section-header">
				<h3 class="section-title">GitHub</h3>
				<span class="section-subtitle"> 
					<a href="https://github.com/chenzhe142" target="_blank" title="View my GitHub">https://github.com/chenzhe142</a> 
				</a>
				</span>

			</header>

		</section>

		<section class="page-content clearfix">
			
			<header class="section-header">
				<h3 class="section-title">Instagram</h3>
				<span class="section-subtitle"> 
					<a href="http://instagram.com/142cz" target="_blank" title="View my Instagram">http://instagram.com/142cz</a> 
				</a>
				</span>

			</header>

		</section>

	</div>

</article>

{% endblock %}