<!DOCTYPE HTML>
<html>
<head>
	<title>Zhe Chen</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</head>
<body>
	<section class="main-header home">
		<div class="vertical-container">
			<div class="wrapper clearfix">
				<header>
					<h1 id="main-title">Zhe Chen</h1>
					<h2 id="main-subtitle">Master of Computer Science, Northwestern University</h2>
					<h2 id="main-subtitle">Food Lover, Amateur Photographer</h2>
				</header>

				<nav id="main-nav" role="navigation">
					<a href="/about" class="">About Me</a>
					<a href="/projects" class="">Projects</a>
					<a href="/portfolio">Portfolio</a>
				</nav>
				
				<div class="wrapper">
					<ul class="social_index">
		            	<li>
		            		<a href="http://instagram.com/142cz/" target="_blank" >
		            			<img src="/static/images/instagram.png" 
		            			title="Follow me on Instagram"
		            			style="width:40px;height:40px"/>
		            		</a>
		            	</li>

		            	<li>
		            		<a href="https://github.com/chenzhe142" target="_blank">
		            			<img src="/static/images/github.png" 
		            			 
		            			title="View me on GitHub"
		            			style="width:40px;height:40px"/>
		            		</a>
		            	</li>
		            	<li>
		            		<a href="mailto:zhechen2014@u.northwestern.edu">
		            			<img src="/static/images/email.png" 
		            			 
		            			title="Email me : )"
		            			style="width:40px;height:40px"/>
		            		</a>
		            	</li>
	            	</ul>
				</div>
			</div>
		</div>
	</section>
</body>
</html>