{% extends "base.html" %}

{% block content %}

<article class="main-content">

	<div class="wrapper clearfix">
		

		<section class="page-content clearfix">

			<header class="section-header">
				<h3 class="section-title">Unity Game: 
					<a href="https://19c726b3c197b069bf268c9917500ff1aaaa57a7.googledrive.com/host/0B2eCMbJ8NpDgU0tIR3FDR2dwdmc/runner_x01.html" target="_blank">
					Runner
					</a>
					
				</h3>
				<span class="section-subtitle"> 
					<a href="https://github.com/chenzhe142/runner_x02" target="_blank">View on GitHub</a> 
				</a>
				</span>

			</header>

			<p>
				An endless running game, built in Unity.
				
			</p>

		</section>

		<section class="page-content clearfix">

			<header class="section-header">
				<h3 class="section-title">Unity Game: 
					<a href="https://0bad1bbff2d171d252fa5006fc8db513ee831ed0.googledrive.com/host/0B2eCMbJ8NpDgUVVKUTh3VWVmSGs/Roll-a-ball_x01/Roll-a-ball_x01.html" target="_blank">
					roll a ball
					</a>
					
				</h3>
				<span class="section-subtitle"> 
					<a href="https://github.com/chenzhe142/roll-a-ball" target="_blank">View on GitHub</a> 
				</a>
				</span>

			</header>

			<p>
				This is a simple object collecting game, built in Unity.
				
			</p>

		</section>

	</div>

</article>

{% endblock %}