{% extends "base.html" %}

{% block content %}

<article class="main-content">

	<div class="wrapper clearfix">

		<section class="page-content clearfix">
			<!-- <div class="one-half first"> -->

				<!-- ############### -->

				<header class="section-header">

					<h3 class="section-title">Snapshot Diary</h3>

					<span class="section-subtitle">
						<a href="https://github.com/chenzhe142/Snapshot-Diary" target="_blank">
							View on GitHub</a> 
						<br>
						
					</a>
					</span>
				</header>
				<p>
					Snapshot Diary is an iOS application, written in Swift.
					<br>
					<br>
					This application can record sounds and videos, together with photos and texts. User can create their own diary.
					
				</p>

				<hr>


				<header class="section-header">

					<h3 class="section-title">Pitch Perfect</h3>

					<span class="section-subtitle">
						<a href="https://github.com/chenzhe142/Pitch-Perfect-x02" target="_blank">
							View on GitHub</a> 
						<br>
						
					</a>
					</span>
				</header>
				<p>
					Pitch Perfect is an iOS application, written in Swift.
					<br>
					<br>
					This application can record sound. Using the latest AVAudioEngine in iOS 8, it can create various sound effect, and play recorded sound with effects though output.
					
				</p>

				<hr>



				<header class="section-header">

					<h3 class="section-title">Foodiepedia Website</h3>

					<span class="section-subtitle">
						<a href="http://foodie-pedia.appspot.com/" target="_blank">
							http://foodie-pedia.appspot.com/</a>
							<br>
						<a href="https://github.com/chenzhe142/Foodiepedia_website" target="_blank">
							View on GitHub</a> 
						<br>
						
					</a>
					</span>
				</header>
				<p>
					Foodiepedia is a website that focuses on different foods, ingredients, recipes and other items which are relevant to foods. User can search for really good recipes, add a link of a good recipe to an item, add an new item, which can be ingredients, wines or anything that is relevant to foods. Also user can search items by product barcode.
					<br>
					<br>
					I want to make Foodiepedia function as a "food" social network, and users can communicate with each other about cooking, choosing ingredients and restaurants.
					<br>
					User system is almost finished. Now I am adding 'change password' and 'forget password' function to user system.
					<br>
					Website UI Design is processing.
				</p>

				<hr>

				<header class="section-header">

					<h3 class="section-title">My Personal Website</h3>
	<!-- 				<span class="section-subtitle">link:
						<a href="http://chenzhe-personal.appspot.com" target="_blank">
							http://chenzhe-personal.appspot.com</a> 
					</a>
					</span> -->
					<span class="section-subtitle">
						
						<a href="https://github.com/chenzhe142/Personal_website" target="_blank">
							View on GitHub</a> 
					</a>
					</span>
				</header>
				<p>
					This is my personal website based on Google App Engine.
					<ul>
						<li>back-end: Python</li>
						<li>front-end: HTML5, CSS</li>
					</ul>

				</p>

				<hr>
				<!-- ############### -->
				<header class="section-header">

					<h3 class="section-title">Sample Blog</h3>

					<span class="section-subtitle">
						<a href="http://taste-your-recipe-test.appspot.com/" target="_blank">
							http://taste-your-recipe-test.appspot.com/</a>
							<br>
						<a href="https://github.com/chenzhe142/blog" target="_blank">
							View on GitHub</a> 
					</a>
					</span>
				</header>
				<p>
					A sample blog written in Python, HTML and CSS. It is based on Google App Engine. 
					<br>
					<br>
					It has several simple function: user signup, user login, user logout, post new blog, and view recent blog. Cookies are available on sample blog.
					<br>
					<br>
					More functions are on the way...
				</p>
			<!-- </div> -->

			

			<!-- <div class="one-half last"> -->
			<hr>

			<header class="section-header">

				<h3 class="section-title">Foodiepedia Mobile Application</h3>
<!-- 				<span class="section-subtitle">link:
					<a href="http://chenzhe-personal.appspot.com" target="_blank">
						http://chenzhe-personal.appspot.com</a> 
				</a>
				</span> -->
				<span class="section-subtitle">
					<a href="https://github.com/chenzhe142" target="_blank">
						View on GitHub</a> 
				</a>
				</span>

			</header>

				<p>
					Foodiepedia is a mobile application built on Google App Engine, jQuery and PhoneGap. User can use this mobile app to access Foodiepedia website (still building and testing core functions).
					<br>
					<br>
					I am using PhoneGap to build the multi-platform mobile application (available on Web browser, iOS, Android and etc.). The data and web pages are all handled and stored by Google App Engine and Google Datastore, and HTML handlers are written in Python.
					<br>
					<br>
					In order to connect mobile apps with web server and database, I am writing website API based on Flask RESTful 
					<br>
					(
					<a href="http://flask-restful.readthedocs.org/en/latest/">Link</a>
					).
					
				</p>



			<!-- </div> -->



		</section>

		<section class="page-content clearfix">


		</section>

	</div>

</article>


{% endblock %}